@media only screen and (max-width:576px) {
    .banner-height img {
        object-fit: cover;
        height: 500px;
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {

    .banner-height img {
        object-fit: cover;
        height: 550px;
    }
}